header {
  padding: 0 30px;
  height: 100px;
  background-color: $header-bg-color;
  color: $header-color;

  .header-logo {
    background: url(../images/note.svg) 40px/40px;
    height: 40px;
    width: 40px;
    margin-right: 20px;
  }

  .header-title {
    font-size: 2rem;
  }
}